# Online Payment Fraud Detection

In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## 1. Importing dataset

In [34]:
df = pd.read_csv('data.csv')
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [29]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

# 2. Data Cleaning

In [30]:
#checking for any null values
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

No null values

In [31]:
#checking for any 'na' values
df.isna().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

No 'na' values

## 3. Exploratory data analysis

### 3.1 Transaction types used for fraud

In [14]:
Transaction_Types = df['type'].drop_duplicates().values
Fraudlent_Transaction_Types = df.loc[df['isFraud'] == 1].type.drop_duplicates().values

print('Types of transactions: ', Transaction_Types)
print('\nTransaction type use for fraud: ', Fraudlent_Transaction_Types)

Types of transactions:  ['PAYMENT' 'TRANSFER' 'CASH_OUT' 'DEBIT' 'CASH_IN']

Transaction type use for fraud:  ['TRANSFER' 'CASH_OUT']

In [20]:
No_of_Fradulent_Transactions = df.loc[df['isFraud'] == 1]
print('No. of fradulent transaction: ', len(No_of_Fradulent_Transactions))

Fraud_Transfers = df.loc[(df['isFraud'] == 1) & (df['type'] == 'TRANSFER')]
print('\nNo. of fraud \'TRANSFER\':  ', len(Fraud_Transfers))

Fraud_CashOut =  df.loc[(df['isFraud'] == 1) & (df['type'] == 'CASH_OUT')]
print('\nNo. of fraus \'CASH_OUT\': ', len(Fraud_CashOut))

No. of fradulent transaction:  8213

No. of fraud 'TRANSFER':   4097

No. of fraus 'CASH_OUT':  4116

## 4. Correlation

In [24]:
corr = df.corr()
print(corr['isFraud'].sort_values(ascending=False))

/var/folders/v8/s752sg95209c7mrl_31hp1k80000gp/T/ipykernel_33409/600989764.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = df.corr()

isFraud           1.000000
amount            0.076688
isFlaggedFraud    0.044109
step              0.031578
oldbalanceOrg     0.010154
newbalanceDest    0.000535
oldbalanceDest   -0.005885
newbalanceOrig   -0.008148
Name: isFraud, dtype: float64

## 5. Transforming categorical value into numerical form

<h4>We will convert payment types into the numerical form and isFraud values 0 & 1 to understandable labels</h4>

In [35]:
df['type'] = df['type'].map({'PAYMENT': 1, 'TRANSFER': 2, 'CASH_OUT': 3, 'DEBIT': 4, 'CASH_IN': 5})
df['isFraud'] = df['isFraud'].map({1: 'Fraud', 0: 'No Fraud'})
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,1,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,No Fraud,0
1,1,1,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,No Fraud,0
2,1,2,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,Fraud,0
3,1,3,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,Fraud,0
4,1,1,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,No Fraud,0
5,1,1,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,No Fraud,0
6,1,1,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,No Fraud,0
7,1,1,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,No Fraud,0
8,1,1,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,No Fraud,0
9,1,4,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,No Fraud,0

## 6. Online payment fraud detection model

<h4> We will use classification model to classify Fraud or No Fraud transaction. As a classification model, we will use Decision Tree classifier </h4>

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import seaborn as sns
import time

### 6.1 Splitting the training and testing data

In [48]:
Y = np.array(df[['isFraud']])
X = np.array(df[['type', 'amount', 'oldbalanceOrg', 'newbalanceOrig']])
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.10, random_state=42)

### 6.2 Training the model

In [49]:
decisionTreeModel = DecisionTreeClassifier()

In [54]:
start = time.time()
decisionTreeModel.fit(X_train, y_train)
end = time.time()
print("Time taken for training a model: ", end-start, "seconds")

Time taken for training a model:  19.73416805267334 seconds

### 6.3 Model evaluation

In [57]:
Yhat = decisionTreeModel.predict(X_test)
report = classification_report(y_test, Yhat)
print(report)

              precision    recall  f1-score   support

       Fraud       0.91      0.89      0.90       817
    No Fraud       1.00      1.00      1.00    635445

    accuracy                           1.00    636262
   macro avg       0.96      0.95      0.95    636262
weighted avg       1.00      1.00      1.00    636262

<h3>Conclusion:</h3><h4>Our model to classify a transaction as "Fraud" and "No Fraud" is pretty much accurate!</h4>

### 6.4 Prediction

Let's provide our custom data and see whether it'll be a potential Fraud or not

In [60]:
#              Type, Amount, oldbalanceOrg, newbalanceOrig
data1 = np.array([[3, 1000000, 2000000, 1000000]])
prediction1 = decisionTreeModel.predict(data1)

data2 = np.array([[3, 1000000, 1000000, 0]])
prediction2 = decisionTreeModel.predict(data2)
print(prediction1, prediction2)

['No Fraud'] ['Fraud']

## References

<h3>Article referred: <a href="https://thecleverprogrammer.com/2022/02/22/online-payments-fraud-detection-with-machine-learning/">Online Payments Fraud Detection</a> by <a href="https://thecleverprogrammer.com/author/amankharwal/">Aman Kharwal</a></h3>